{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Login</h2>
            <form method="POST">
                {% csrf_token %}
                <label >Username:</label>
                <input type="text" name="username" class="form-control mb-2" required>
                <label >Password:</label>
                <input type="password" name="password" class="form-control mb-2" required>
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
        </div>
    </div>
{% endblock %}
