{% extends "base.html" %}

{% block title %}
Courses
{% endblock %}

{% block content %}

<div class="mb-3">
    <h1>Courses</h1>
    <a href="{% url 'course:course-create' %}" class="btn btn-success">Create Course</a>
</div>

{% for course in courses %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ course.title }}</h5>
            <p class="card-text">{{ course.description }}</p>
            <a href="{% url 'course:course-detail' course.id %}" class="btn btn-primary">View Course</a>
        </div>
    </div>
{% endfor %}

{% endblock %}
